.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 20px;
}

.section-container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.input-container {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
input {
	padding: 5px;
	border-radius: 3px;
	border: 1px solid rgb(208, 208, 208);
}

.nav-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	border: 1px solid #8797af;
	border-radius: 100px;
	width: fit-content;
	margin: 0 auto 0 auto;

	* {
		padding: 0px 20px 0px 20px;
		color: black;
	}

	.nav-item-active {
		transition: all 0.1s ease-in;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #8797af;
		color: white;
		border-radius: 100px;
		height: 48px;
	}
}

.input-select-wrapper {
	padding: 8px 8px 8px 8px;
	border: 1px solid #ccc;
	border-radius: 4px;

	select {
		width: fit-content;
		appearance: none; /* Hide default dropdown arrow */
		-webkit-appearance: none;
		-moz-appearance: none;
		border: none;
		content: "";
		cursor: pointer;
		color: #afadad;
	}
	select::after {
		content: "s";
		width: 10px;
	}
	input {
		border: none;
		width: auto;
		outline: none;
	}

	input:focus {
		border: none;
		width: auto;
		outline: none;
	}
}
.input-select-wrapper:has(input:focus, select:focus) {
	border: 1px solid blue;
}

/* .modal {
	position: absolute;
	width: 400px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
	background-color: white;
}
.modal-backdrop {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(127, 27, 27, 0.5);
} */

.category-wrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 30px 0 30px 0;
}

.category-button {
	width: 50%;
	margin: 50px auto 100px auto;
	padding: 10px;
	background-color: transparent;
	border: 2px solid #90e0ef;
	border-radius: 5px;
	&:hover {
		background-color: #90e0ef;
		cursor: pointer;
	}
}

.textinput-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	justify-content: space-between;

	&:hover {
		.hidden {
			visibility: visible;
		}
	}
	.hidden {
		width: 20px;
		height: 20px;
		margin: 4px; /*Makes the bar NOT jump up and down*/
		visibility: hidden;
	}
	img:hover {
		background-color: rgb(237, 237, 237);
		border-radius: 5px;
		box-shadow: 0 0 4px rgb(185, 185, 185);
	}
}

.add-button {
	padding: 5px;
	border: 1px solid rgb(94, 141, 250);
	height: 30px;
	align-self: center;
	background-color: transparent;
	border: 2px solid #90e0ef;
	border-radius: 5px;
	&:hover {
		background-color: #90e0ef;
		cursor: pointer;
	}
}

img {
	cursor: pointer;
}
.summary-container {
	position: fixed;
	display: flex;
	flex-direction: row;
	gap: 20px;
	padding: 10px 20px 10px 20px;
	border-radius: 10px 10px 0 0;
	bottom: 0px;
	margin: 0 auto 0 auto;
	align-self: center;
	margin-top: auto;
	background-color: rgb(75, 75, 93);

	h3 {
		font: 300;
		color: white;
		font-size: 0.8rem;
		text-align: end;
		align-self: center;
		span {
			font-weight: 300;
			color: white;
		}
	}
	h3.summary-surplus {
		color: rgb(14, 186, 14);
	}
	h3.summary-deficit {
		color: rgb(248, 104, 104);
	}
	.divider {
		color: white;
	}
}
