.container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.section-container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.input-container {
	display: flex;
	flex-direction: column;
}
input {
	height: 30px;
	border-radius: 3px;
	border: 1px solid rgb(208, 208, 208);
}

.nav-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	border: 1px solid rgb(197, 194, 194);
	border-radius: 100px;
	width: fit-content;
	margin: 0 auto 0 auto;

	* {
		padding: 0px 20px 0px 20px;
		color: black;
	}

	.nav-item-active {
		transition: all 0.1s ease-in;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgb(220, 207, 249);
		border-radius: 100px;
		height: 48px;
	}
}

.input-select-wrapper {
	padding: 8px 8px 8px 8px;
	border: 1px solid #ccc;
	border-radius: 4px;

	select {
		width: fit-content;
		appearance: none; /* Hide default dropdown arrow */
		-webkit-appearance: none;
		-moz-appearance: none;
		border: none;
		content: "";
		cursor: pointer;
	}
	select::after {
		content: "s";
		width: 10px;
	}
	input {
		border: none;
		width: auto;
		outline: none;
	}

	input:focus {
		border: none;
		width: auto;
		outline: none;
	}
}
.input-select-wrapper:has(input:focus, select:focus) {
	border: 1px solid blue;
}

.modal {
	position: absolute;
	width: 400px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
	background-color: white;
}
.modal-backdrop {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(127, 27, 27, 0.5);
}
