.container {
	display: grid;
	grid-template-rows: auto;
	gap: 20px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	width: 100%;
	background-color: grey;
}

.bar-chart {
	background-color: red;
}

.donut-chart {
	min-height: 400px;
	max-height: 400px;
}
.chart-wrapper {
	border-radius: 10px;
}
